@font-face {
    font-family: 'Akira Expanded';
    src: url('fonts/AkiraExpanded.woff2') format('woff2');
}

.sidebar {
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    height: 100%;
    width: 40vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sidebar .logo {
    font-family:'Akira Expanded';
    position: fixed;
    width: 40vw;
    font-size: 5vw;
    top: 12.5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.maincontent {
    font-family: Arial, Helvetica, sans-serif;
    right: 0;
    width: 50vw;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    height: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    zoom: 1;
}

.maincontent .description {
    font-size: 1.5vw;
}

.maincontent form {
    font-size: 0.75vw;
}

.maincontent form fieldset {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
}