@font-face {
    font-family: 'Akira Expanded';
    src: url('fonts/AkiraExpanded.woff2') format('woff2');
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;

}
.sidebar {
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    height: 100%;
    width: 40vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sidebar .logo {
    font-family:'Akira Expanded';
    position: fixed;
    width: 40vw;
    font-size: 5vw;
    top: 12.5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.maincontent {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40vw;
    top: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10vh);
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.maincontent .description {
    font-size: 24px;
}

.maincontent div:nth-child(2) {
    width: 100%;
}
.maincontent form {
    font-size: 12px;
}

.maincontent form fieldset {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 5px solid gray;
    box-shadow: 2px 2px 4px darkgray; 
}

.maincontent form fieldset div {
    display: flex;
    flex-direction: column;
}

fieldset legend {
    font-size: 16px;
}

input,
textarea,
select {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #E5E7EB;
}

input:focus,
input:active,
input:hover,
input:focus-visible {
    border: 2px solid blue;
    box-shadow: 2px 2px 4px darkgray; 
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
    box-shadow: 2px 2px 4px darkgray; 
}

input:invalid:not(:placeholder-shown) + span.passworderror:before {
    content: "Password should be at least 8 characters long.";
    color: red;
    font-size: 9px;
}

input:invalid:not(:placeholder-shown) + span.confirmpassworderror:before {
    content: "Input does not match with password.";
    color: red;
    font-size: 9px;
}

input:invalid:not(:placeholder-shown) + span.emailerror:before {
    content: "Please put a valid email address.";
    color: red;
    font-size: 9px;
}

input:invalid:not(:placeholder-shown) + span.nameerror:before {
    content: "Please put a valid name.";
    color: red;
    font-size: 9px;
}


button {
    background-color: darkgray;
    width: 45%;
    height: 40px;
    margin-top: 2.5vh;
    margin-left: 1vh;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 2px 2px 4px darkgray;
}
